h3{
    font-size: x-large;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}.box{
    width: 90%;
    border: 1px solid rgb(154, 138, 138);
    border-radius: 25px;
    padding: 0px 20px 20px 20px;
    margin-left: 120px;
    background-color:rgb(235, 243, 239);
}
.main{
    background-color: rgb(210, 196, 196);
    width:90%;
    height: 100vh;
    
}
