
<div class="main">
  <div class="sidebar">
    <ul>
      <h1><br><br>
      <li><a routerLink="/home" href="">Home</a></li><br>
     
      <li><a routerLink="/checkout" href="">Checkout</a></li><br>

      <li><a routerLink="/view-user" href="">Customer List</a></li><br>
  
      <li><a routerLink="/s-list" href="">Staff List</a></li><br>

      <li><a routerLink="/cake" href="">Cake List</a></li><br>
   
      <li><a routerLink="/cake2" href="">Cake Details</a></li></h1>
    </ul>
  </div>
  <div class="content">
    
    <div class="shop-info">
      
      <h2>Admin Dashboard</h2>
      <div a class="primary_img" href="product-details.html"
><img src="assets/img/bg/banner6.jpg" alt="center" height="700px" width="700px"/>

    </div>
    <br>
    <button type="submit" class="btn btn-primary " routerLink="/home" routerLinkActive="active" href="">Logout</button>
      <!-- Add your background image here -->
    </div>
  </div>
</div>