 <!--breadcrumbs area start-->
 <div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <h3>Shop</h3>
                  <ul>
                      <li><a href="index.html">home</a></li>
                      <li>shop</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--shop  area start-->
<div class="shop_area shop_fullwidth mt-70 mb-70">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <!--shop wrapper start-->
              <!--shop toolbar start-->
              <div class="shop_toolbar_wrapper">
                  <div class="shop_toolbar_btn">

                      <button data-role="grid_3" type="button" class=" btn-grid-3" data-toggle="tooltip" title="3"></button>
                  </div>
                  <div class=" niceselect_option">
                      <form class="select_option" action="#">
                          <select name="orderby" id="short">

                              <option selected value="1">Sort by average rating</option>
                              <option  value="2">Sort by popularity</option>
                              <option value="3">Sort by newness</option>
                              <option value="4">Sort by price: low to high</option>
                              <option value="5">Sort by price: high to low</option>
                              <option value="6">Product Name: Z</option>
                          </select>
                      </form>
                  </div>
                  <div class="page_amount">
                      <p>Showing 1–15 of 30 results</p>
                  </div>
              </div>
              <!--Shop items details start-->
              <div >
                <div class="cake-item">
                    <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product26.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                        <img src="assets/img/product/product26.jpg" height="500px" width="400px"/><div><a href="#">3D Cakes</a></div>
                    </a>
                        <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product2.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                            <img src="assets/img/product/product2.jpg" height="400px" width="300px"/><div><a href="#">Anniversary Cakes</a></div>
                        </a></div>
                        <div class="cake-item">     
                    <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/productbig3.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                            <img src="assets/img/product/productbig3.jpg" height="400px" width="300px"/><div><a href="#">Donut Cakes</a></div>
                        </a>
                        <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product31.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                            <img src="assets/img/product/product31.jpg" height="400px" width="300px"/><div><a href="#">Chocolate Cakes</a></div>
                        </a>    </div>
                        <div class="cake-item"> 
                           <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product32.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                            <img src="assets/img/product/product32.jpg" height="400px" width="300px"/><div><a href="#">Flavoured piece Cakes</a></div>
                        </a>
                  
                        <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product33.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                            <img src="assets/img/product/product33.jpg" height="400px" width="300px"/><div><a href="#">Customized children Chocolate Cakes</a></div>
                        </a></div>
                        <div class="cake-item"> 
                      <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/productbig8.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                            <img src="assets/img/product/productbig8.jpg" height="400px" width="300px"/><div><a href="#">Fruit Cakes</a></div>
                        </a>
                        <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/productbig1.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                            <img src="assets/img/product/productbig1.jpg" height="400px" width="300px"/><div><a href="#">Edible flower Cakes</a></div> 
                          </a>  </div>
                          <div class="cake-item"> 
                                  <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product19.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/product19.jpg" height="400px" width="300px"/><div><a href="#">Sports Designed Cakes</a></div>
                            </a> 
                          <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product20.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/product20.jpg" height="400px" width="350px"/><div><a href="#">Customized Cakes</a></div>
                            </a> </div>
                            <div class="cake-item"> 
                             <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/productbig5.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/productbig5.jpg" height="400px" width="300px"/><div><a href="#">Pudding Cakes</a></div>
                            </a> 
                            <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product18.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/product18.jpg" height="400px" width="300px"/><div><a href="#">Dark Chocolate Cakes</a></div>
                            </a></div>
                            <div class="cake-item"> 
                             <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product11.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/product11.jpg" height="400px" width="300px"/><div><a href="#">BabyShower Cakes</a></div>
                            </a>
                        <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product10.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/product10.jpg" height="400px" width="300px"/><div><a href="#">Brownies</a></div>
                            </a></div>
                            <div class="cake-item"> 
                             <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/productbig9.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/productbig9.jpg" height="400px" width="300px"/><div><a href="#">Mango Cakes</a></div>
                            </a> 
                         <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/productbig12.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/productbig12.jpg" height="400px" width="300px"/><div><a href="#">Chocolatetopins Cake</a></div>
                            </a>
                            <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product23.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                <img src="assets/img/product/product23.jpg" height="250px" width="150px"/><div><a href="#">Ice Cakes</a></div>
                            </a></div> 
                    <h1><a> We Are Here to Provide you Most Healthy, Organic and Tasty Cakes For all Functions and Parties...</a></h1>
              </div>