.staff-list {
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    border-radius: 5px;
    outline-style:groove;
    table-layout: inherit;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 4px solid rgb(132, 205, 197);
  }
  
  th {
    background-color: #89cdc5;
  }
  