<!DOCTYPE html>
<html>
<head>
  <title>Staff List</title>

 
</head>
<body>
  <div class="staff-list">
    <h1>Staff List</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Position</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Deepthi</td>
          <td>Manager</td>
          <td>deep@example.com</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Smitha</td>
          <td>Assistant</td>
          <td>jane@example.com</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Mark Johnson</td>
          <td>Cashier</td>
          <td>mark@example.com</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Malliga Anandh</td>
            <td>Chef</td>
            <td>malli@example.com</td>
          </tr>
        <tr>
            <td>5</td>
            <td>Swathi</td>
            <td>Baker</td>
            <td>swathi@example.com</td>
          </tr>
          <tr>
            <td>6</td>
            <td>David</td>
            <td>Package Maintenance</td>
            <td>david@example.com</td>
          </tr>

        <tr>
            <td>7</td>
            <td>Satheesh </td>
            <td>Delivery boy</td>
            <td>sathees@example.com</td>
          </tr>
      </tbody>
    </table>
    <br>
    <button a routerLink="/admin-u" routerLinkActive="active" href="#" class="back-btn">GO BACK</button>
  </div>
</body>
</html>
