<!--slider area start-->
<section>
  <owl-carousel-o [options]="bannerSlider">
    <ng-template carouselSlide>
      <div
        class="single_slider d-flex align-items-center"
        data-bgimg="assets/img/slider/slider2.jpg"  >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider_content">
                <h1>Home Made Cakes</h1>
                <h2>Our cakes are additive-free, made with natural ingredients..</h2>
                <p>
                  We use fresh wheat Flours, Fruits & seasonal
                  products
                </p>
                <a href="shop.html">Read more </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div
        class="single_slider d-flex align-items-center"
        data-bgimg="assets/img/slider/slider3.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider_content">
                <h1>Eggless Cakes</h1>
                <h2>We also provide eggless icing cakes</h2>
                <p>
                  This is a Special Product for Vegetarians, Diet followers...
                </p>
                <a href="shop.html">Read more </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div
        class="single_slider d-flex align-items-center"
        data-bgimg="assets/img/slider/slider1.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider_content">
                <h1>Cakes Big Sale</h1>
                <h2>We Offer Best Big Sale</h2>
                <p>
                 Budget Friendly Home made cakes for all functions and parties..
                </p>
                <a href="shop.html">Read more </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
<!--slider area end-->

<!--banner area start-->
<div class="banner_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="single_banner">
          <div class="banner_thumb">
            <a href="shop.html"
              ><img src="assets/img/bg/banner1.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="single_banner">
          <div class="banner_thumb">
            <a href="shop.html"
              ><img src="assets/img/bg/banner2.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--banner area end-->

<!--home three bg area start-->
<div class="home3_bg_area product_five">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="productbg_right_left">
          <div class="deals_prodict_three">
            <div class="deals_title">
              <h2>Deals Of The Weeks</h2>
            </div>
            <div class="deals_prodict_inner3">
              <owl-carousel-o [options]="cardSlider">
                <ng-template carouselSlide>
                  <article class="single_product">
                    <figure>
                      <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"
                          ><img src="assets/img/product/product17.jpg" alt=""
                        /></a>
                        <a class="secondary_img" href="product-details.html"
                          ><img src="assets/img/product/product18.jpg" alt=""
                        /></a>
                        <div class="label_product">
                          <span class="label_sale">Sale</span>
                        </div>
                      </div>
                      <figcaption class="product_content">
                        <h4 class="product_name">
                          <a href="product-details.html">Rainbow Cake</a>
                        </h4>
                        <p><a href="#">Flavoured Cake</a></p>
                        <div class="price_box">
                          <span class="current_price">$125.00</span>
                          <span class="old_price">$257.00</span>
                        </div>
                        <div class="addto_cart_btn">
                          <a href="cart.html" title="Add to cart"
                            >Add to Cart</a
                          >
                        </div>
                      </figcaption>
                    </figure>
                  </article>
                </ng-template>
                <ng-template carouselSlide>
                  <article class="single_product">
                    <figure>
                      <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"
                          ><img src="assets/img/product/product25.jpg" alt=""
                        /></a>
                        <a class="secondary_img" href="product-details.html"
                          ><img src="assets/img/product/product19.jpg" alt=""
                        /></a>
                        <div class="label_product">
                          <span class="label_sale">Sale</span>
                        </div>
                      </div>
                      <figcaption class="product_content">
                        <h4 class="product_name">
                          <a href="product-details.html">Sports Theme Cake</a>
                        </h4>
                        <p><a href="#">Cakes</a></p>
                        <div class="price_box">
                          <span class="current_price">$208.00</span>
                          <span class="old_price">$260.00</span>
                        </div>
                        <div class="addto_cart_btn">
                          <a href="cart.html" title="Add to cart"
                            >Add to Cart</a
                          >
                        </div>
                      </figcaption>
                    </figure>
                  </article>
                </ng-template>
                <ng-template carouselSlide>
                  <article class="single_product">
                    <figure>
                      <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"
                          ><img src="assets/img/product/product15.jpg" alt=""
                        /></a>
                        <a class="secondary_img" href="product-details.html"
                          ><img src="assets/img/product/product9.jpg" alt=""
                        /></a>
                        <div class="label_product">
                          <span class="label_sale">Sale</span>
                        </div>
                      </div>
                      <figcaption class="product_content">
                        <h4 class="product_name">
                          <a href="product-details.html">Cup Cakes Box</a>
                        </h4>
                        <p><a href="#">Cakes</a></p>
                        <div class="price_box">
                          <span class="current_price">$115.00</span>
                          <span class="old_price">$160.00</span>
                        </div>
                        <div class="addto_cart_btn">
                          <a href="cart.html" title="Add to cart"
                            >Add to Cart</a
                          >
                        </div>
                      </figcaption>
                    </figure>
                  </article>
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
          <div class="banner_thumb">
            <a href="shop.html"
              ><img src="assets/img/bg/banner12.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="productbg_right_side">
          <div class="small_product_inner3">
            <div class="section_title">
              <h2>Best Sellers</h2>
            </div>
            <div class="small_product_area product_carousel smallp_column2">
              <owl-carousel-o [options]="cardSlider">
                <ng-template carouselSlide>
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product1.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/product20.jpg" alt=""
                          /></a>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Birthday Cakes</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$215.00</span>
                            <span class="old_price">$262.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product3.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/product8.jpg" alt=""
                          /></a>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Chocolate nut Cake</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$416.00</span>
                            <span class="old_price">$490.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product7.jpg" alt="" /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/productbig10.jpg" alt=""
                          /></a>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Red Velvet</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$120.00</span>
                            <span class="old_price">$252.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product9.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/product10.jpg" alt=""
                          /></a>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Creamy Cup Cakes</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$72.00</span>
                            <span class="old_price">$152.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product13.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/productbig9.jpg" alt=""
                          /></a>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Graduate! Cakes</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$315.00</span>
                            <span class="old_price">$370.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product10.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/productbig7.jpg" alt=""
                          /></a>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Brownie</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$446.00</span>
                            <span class="old_price">$482.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
          <div class="product_conatiner3">
            <div class="section_title">
              <h2>New Products</h2>
            </div>
            <div class="product_carousel product0_column0">
              <owl-carousel-o [options]="staticSlider">
                <ng-template carouselSlide>
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product6.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/product2.jpg" alt=""
                          /></a>
                          <div class="label_product">
                            <span class="label_sale">Sale</span>
                            <span class="label_new">New</span>
                          </div>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Vennila Cakes</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$269.00</span>
                            <span class="old_price">$362.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product3.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/product8.jpg" alt=""
                          /></a>
                          <div class="label_product">
                            <span class="label_sale">Sale</span>
                          </div>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Chocolate nut Cake</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$415.00</span>
                            <span class="old_price">$490.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product24.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/product5.jpg" alt=""
                          /></a>
                          <div class="label_product">
                            <span class="label_sale">Sale</span>
                          </div>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">StrawBerry Cake</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$256.00</span>
                            <span class="old_price">$322.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product7.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/productbig10.jpg" alt=""
                          /></a>
                          <div class="label_product">
                            <span class="label_sale">Sale</span>
                            <span class="label_new">New</span>
                          </div>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Red Velvet</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$120.00</span>
                            <span class="old_price">$252.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product9.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/product15.jpg" alt=""
                          /></a>
                          <div class="label_product">
                            <span class="label_sale">Sale</span>
                          </div>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">Creamy Cup Cake</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$72.00</span>
                            <span class="old_price">$152.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product11.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/product12.jpg" alt=""
                          /></a>
                          <div class="label_product">
                            <span class="label_sale">Sale</span>
                            <span class="label_new">New</span>
                          </div>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">BabyShower Theme Cake</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$500.00</span>
                            <span class="old_price">$645.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="product_items">
                   
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <a class="primary_img" href="product-details.html"
                            ><img src="assets/img/product/product22.jpg" alt=""
                          /></a>
                          <a class="secondary_img" href="product-details.html"
                            ><img src="assets/img/product/productbig6.jpg" alt=""
                          /></a>
                          <div class="label_product">
                            <span class="label_sale">Sale</span>
                          </div>
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">
                            <a href="product-details.html">cartoon Theme Cake</a>
                          </h4>
                          <p><a href="#">Cakes</a></p>
                          <div class="price_box">
                            <span class="current_price">$365.00</span>
                            <span class="old_price">$445.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--home three bg area end-->
<!--product area start-->
<div class="product_area mb-65">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <p>Signature Flavours in our store</p>
          <h2>Mostview Products</h2>
        </div>
      </div>
    </div>
    <div class="product_container">
      <div class="row">
        <div class="col-12">
          <div class="product_carousel product_column5">
            <owl-carousel-o [options]="staticSlider">
              <ng-template carouselSlide>
                <article class="single_product">
                  <figure>
                    <div class="product_thumb">
                      <a class="primary_img" href="product-details.html"
                        ><img src="assets/img/product/product28.jpg" alt=""
                      /></a>
                      <a class="secondary_img" href="product-details.html"
                        ><img src="assets/img/product/productbig8.jpg" alt=""
                      /></a>
                      <div class="label_product">
                        <span class="label_sale">Sale</span>
                        <span class="label_new">New</span>
                      </div>                     
                    </div>
                    <figcaption class="product_content">
                      <h4 class="product_name">
                        <a href="product-details.html">Fruits Cake</a>
                      </h4>
                      <p><a href="#">Cakes</a></p>
                      <div class="price_box">
                        <span class="current_price">$455.00</span>
                        <span class="old_price">$535.00</span>
                      </div>
                    </figcaption>
                  </figure>
                </article>
              </ng-template>
              <ng-template carouselSlide>
                <article class="single_product">
                  <figure>
                    <div class="product_thumb">
                      <a class="primary_img" href="product-details.html"
                        ><img src="assets/img/product/product14.jpg" alt=""
                      /></a>
                      <a class="secondary_img" href="product-details.html"
                        ><img src="assets/img/product/product30.jpg" alt=""
                      /></a>
                      <div class="label_product">
                        <span class="label_sale">Sale</span>
                      </div>                   
                    </div>
                    <figcaption class="product_content">
                      <h4 class="product_name">
                        <a href="product-details.html">Christmas Cake</a>
                      </h4>
                      <p><a href="#">Cakes</a></p>
                      <div class="price_box">
                        <span class="current_price">$326.00</span>
                        <span class="old_price">$362.00</span>
                      </div>
                    </figcaption>
                  </figure>
                </article>
              </ng-template>
              <ng-template carouselSlide>
                <article class="single_product">
                  <figure>
                    <div class="product_thumb">
                      <a class="primary_img" href="product-details.html"
                        ><img src="assets/img/product/productbig11.jpg" alt=""
                      /></a>
                      <a class="secondary_img" href="product-details.html"
                        ><img src="assets/img/product/productbig14.jpg" alt=""
                      /></a>
                      <div class="label_product">
                        <span class="label_sale">Sale</span>
                      </div>                    
                    </div>
                    <figcaption class="product_content">
                      <h4 class="product_name">
                        <a href="product-details.html">Black Forest</a>
                      </h4>
                      <p><a href="#">Fruits</a></p>
                      <div class="price_box">
                        <span class="current_price">$226.00</span>
                        <span class="old_price">$562.00</span>
                      </div>
                    </figcaption>
                  </figure>
                </article></ng-template
              >
              <ng-template carouselSlide>
                <article class="single_product">
                  <figure>
                    <div class="product_thumb">
                      <a class="primary_img" href="product-details.html"
                        ><img src="assets/img/product/product27.jpg" alt=""
                      /></a>
                      <a class="secondary_img" href="product-details.html"
                        ><img src="assets/img/product/product29.jpg" alt=""
                      /></a>
                      <div class="label_product">
                        <span class="label_sale">Sale</span>
                        <span class="label_new">New</span>
                      </div>                    
                    </div>
                    <figcaption class="product_content">
                      <h4 class="product_name">
                        <a href="product-details.html">Pop Cakes</a>
                      </h4>
                      <p><a href="#">Cakes</a></p>
                      <div class="price_box">
                        <span class="current_price">$68.00</span>
                        <span class="old_price">$157.00</span>
                      </div>
                    </figcaption>
                  </figure>
                </article>
              </ng-template>
              <ng-template carouselSlide>
                <article class="single_product">
                  <figure>
                    <div class="product_thumb">
                      <a class="primary_img" href="product-details.html"
                        ><img src="assets/img/product/product16.jpg" alt=""
                      /></a>
                      <a class="secondary_img" href="product-details.html"
                        ><img src="assets/img/product/product0.jpg" alt=""
                      /></a>
                      <div class="label_product">
                        <span class="label_sale">Sale</span>
                      </div>                   
                    </div>
                    <figcaption class="product_content">
                      <h4 class="product_name">
                        <a href="product-details.html">Wedding Cake</a>
                      </h4>
                      <p><a href="#">Cakes</a></p>
                      <div class="price_box">
                        <span class="current_price">$335.00</span>
                        <span class="old_price">$445.00</span>
                      </div>
                    </figcaption>
                  </figure>
                </article>
              </ng-template>
              <ng-template carouselSlide>
                <article class="single_product">
                  <figure>
                    <div class="product_thumb">
                      <a class="primary_img" href="product-details.html"
                        ><img src="assets/img/product/productbig12.jpg" alt=""
                      /></a>
                      <a class="secondary_img" href="product-details.html"
                        ><img src="assets/img/product/product18.jpg" alt=""
                      /></a>
                      <div class="label_product">
                        <span class="label_sale">Sale</span>
                      </div>
                    </div>
                    <figcaption class="product_content">
                      <h4 class="product_name">
                        <a href="product-details.html">Chocolate Cake</a>
                      </h4>
                      <p><a href="#">Cakes</a></p>
                      <div class="price_box">
                        <span class="current_price">$226.00</span>
                        <span class="old_price">$362.00</span>
                      </div>
                    </figcaption>
                  </figure>
                </article>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--product area end-->

<!--blog area start-->
<section class="blog_section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <p>Our recent articles about Organic</p>
          <h2>Our Blog Posts</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog_carousel blog_column3">
        <owl-carousel-o [options]="staticSlider">
          <ng-template carouselSlide>
            <div class="col-lg-3">
              <article class="single_blog">
                <figure>
                  <div class="blog_thumb">
                    <a href="blog-details.html"
                      ><img src="assets/img/blog/blog1.jpg" alt=""
                    /></a>
                  </div>
                  <figcaption class="blog_content">
                    <h4 class="post_title">
                      <a href="blog-details.html"
                        >Lorem ipsum dolor sit amet, elit. Impedit, aliquam
                        animi, saepe ex.</a
                      >
                    </h4>
                    <footer class="blog_footer">
                      <a href="blog-details.html">Show more</a>
                    </footer>
                  </figcaption>
                </figure>
              </article>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="col-lg-3">
              <article class="single_blog">
                <figure>
                  <div class="blog_thumb">
                    <a href="blog-details.html"
                      ><img src="assets/img/blog/blog2.jpg" alt=""
                    /></a>
                  </div>
                  <figcaption class="blog_content">
                    <h4 class="post_title">
                      <a href="blog-details.html">
                        dolor sit amet, elit. Illo iste sed animi quaerat nobis
                        odit nulla.</a
                      >
                    </h4>
                    <footer class="blog_footer">
                      <a href="blog-details.html">Show more</a>
                    </footer>
                  </figcaption>
                </figure>
              </article>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="col-lg-3">
              <article class="single_blog">
                <figure>
                  <div class="blog_thumb">
                    <a href="blog-details.html"
                      ><img src="assets/img/blog/blog3.jpg" alt=""
                    /></a>
                  </div>
                  <figcaption class="blog_content">
                    <h4 class="post_title">
                      <a href="blog-details.html"
                        >maxime laborum voluptas minus, est, unde eaque esse
                        tenetur.</a
                      >
                    </h4>
                    <footer class="blog_footer">
                      <a href="blog-details.html">Show more</a>
                    </footer>
                  </figcaption>
                </figure>
              </article>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="col-lg-3">
              <article class="single_blog">
                <figure>
                  <div class="blog_thumb">
                    <a href="blog-details.html"
                      ><img src="assets/img/blog/blog2.jpg" alt=""
                    /></a>
                  </div>
                  <figcaption class="blog_content">
                    <h4 class="post_title">
                      <a href="blog-details.html"
                        >Lorem ipsum dolor sit amet, elit. Impedit, aliquam
                        animi, saepe ex.</a
                      >
                    </h4>
                    <footer class="blog_footer">
                      <a href="blog-details.html">Show more</a>
                    </footer>
                  </figcaption>
                </figure>
              </article>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--blog area end-->