

    <div class="main">
      <div class="sidebar">
        <ul>
            <h2>
              <br><br>
          <li><a routerLink="/home" href="">Home</a></li><br>
         
          <li><a routerLink="/cart" href="">My Cart</a></li><br>

          <li><a routerLink="/wishlist" href="">My wishlist</a></li>
          <br>
        </h2>
      </ul>
      </div>


<div class="content">
    
  <div class="shop-info">
    
    <h2>Customer Dashboard</h2>
    <div a class="primary_img" href="product-details.html"
><img src="assets/img/blog/blog-big5.jpg" alt="center" height="700px" width="600px"
/>
  </div>
  <br>
  <button type="submit" class="btn btn-primary " routerLink="/home" routerLinkActive="active" href="">Logout</button>
  </div>
</div>

</div>