<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                 <h2>Checkout</h2>
                  <ul>
                      <li><a href="index.html">admin</a></li>
                      <li>Checkout</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--Checkout page section-->
<br>
              <div class="col-lg-6 col-md-6">
                  <form action="#">
                      <h3>Orders Delivered in Last Week:</h3>
                      <div class="order_table table-responsive">
                        <div class="main">
                          <table>
                              <thead>
                                  <tr>
                                      <th>Product</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td> Chocolate Cake <strong> × 2</strong></td>
                                      <td> $165.00</td>
                                  </tr>
                                  <tr>
                                      <td>  Cup Cake	 <strong> × 2</strong></td>
                                      <td> $50.00</td>
                                  </tr>
                                  <tr>
                                      <td>  Brownie	<strong> × 2</strong></td>
                                      <td> $350.00</td>
                                  </tr>
                                  <tr>
                                      <td> Mango piece Cake	 <strong> × 3</strong></td>
                                      <td> $400.00</td>
                                  </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <th>Cart Subtotal</th>
                                      <td>$950.00</td>
                                  </tr>
                                  <tr>
                                      <th>Shipping</th>
                                      <td><strong>$15.00</strong></td>
                                  </tr>
                                  <tr class="order_total">
                                      <th>Order Total</th>
                                      <td><strong>$955.00</strong></td>
                                  </tr>
                              </tfoot>
                          </table>
                      </div>
                      <div class="payment_method">
                         <div class="panel-default">
                              <div id="method" class="collapse one" data-parent="#accordion">
                                  <div class="card-body1">
                                     <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                  </div>
                              </div>
                          </div>
                         
                        </div>
                      </div>
                  </form>
              </div>
            

              <br>
              <button a routerLink="/admin-u" routerLinkActive="active" href="#" class="back-btn">GO BACK</button>
            