


<div style="background: rgba(0,0,0,0.4);">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder" style="color:white;">Cakes In Affortable Price</h1>
     
    </div>
    <div class="back">
            <a href="/cus-a" class="back-btn"  >GO BACK</a>
        </div>
        

</div>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <ng-container *ngFor="let item of productList">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/img/product/product22.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch;" class="fw-bolder">{{item.title}}</h5>
                            <!-- Product reviews-->
                            <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch;">{{item.description}}</p>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <p><strong>Price:</strong>₹ {{item.price}}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/cart" href="#" (click)="addtocart(item)" type="submit">Add to cart</a></div>
                    </div>
                 </div>
                            
            </div>
        </ng-container>   
            
            </div>
            </div>
    
    
</section>

